Repository wpilibsuite/shuffleboard, pull requests merged in 2018-10, with the labels that each got.

#522 Enables 32 bit Windows builds
  buildSrc/src/main/kotlin/JavaFXExtensions.kt
  buildSrc/src/main/kotlin/PlatformMapper.kt
Labels: build

#517 Add azure pipelines
  azure-pipelines.yml
Labels: build

#514 Remove update checking
  app/app.gradle.kts
  app/src/main/java/edu/wpi/first/shuffleboard/app/MainWindowController.java
  app/src/main/java/edu/wpi/first/shuffleboard/app/Shuffleboard.java
  app/src/main/java/edu/wpi/first/shuffleboard/app/ShuffleboardUpdateChecker.java
  app/src/main/java/edu/wpi/first/shuffleboard/app/UpdateFooterController.java
  app/src/main/java/edu/wpi/first/shuffleboard/app/UpdatePromptController.java
  app/src/main/java/edu/wpi/first/shuffleboard/app/dialogs/RestartPromptDialog.java
  app/src/main/java/edu/wpi/first/shuffleboard/app/dialogs/UpdateDownloadDialog.java
  app/src/main/java/edu/wpi/first/shuffleboard/app/prefs/AppPreferences.java
  app/src/main/resources/copy_and_restart-linux.sh
  app/src/main/resources/copy_and_restart-mac.sh
  app/src/main/resources/copy_and_restart.bat
  app/src/main/resources/edu/wpi/first/shuffleboard/app/DownloadDialogPane.fxml
  app/src/main/resources/edu/wpi/first/shuffleboard/app/MainWindow.fxml
  app/src/main/resources/edu/wpi/first/shuffleboard/app/RestartPrompt.fxml
  app/src/main/resources/edu/wpi/first/shuffleboard/app/UpToDateDialogPane.fxml
  app/src/main/resources/edu/wpi/first/shuffleboard/app/UpdateFooter.fxml
  app/src/main/resources/edu/wpi/first/shuffleboard/app/UpdatePromptPane.fxml
  integ_test/integ_test.gradle.kts
Labels: updater

#523 Build releases for all platforms with a single task
  README.md
  app/app.gradle.kts
  azure-pipelines.yml
  build.gradle.kts
  buildSrc/src/main/kotlin/JavaFXExtensions.kt
  buildSrc/src/main/kotlin/NativeConfigurations.kt
  buildSrc/src/main/kotlin/PlatformMapper.kt
  config/checkstyle/checkstyle.xml
  config/checkstyle/checkstyleSuppressions.xml
  plugins/cameraserver/cameraserver.gradle.kts
  plugins/networktables/networktables.gradle.kts
  plugins/networktables/src/test/java/edu/wpi/first/shuffleboard/plugin/networktables/RecorderControllerTest.java
  plugins/networktables/src/test/java/edu/wpi/first/shuffleboard/plugin/networktables/TabGeneratorTest.java
  plugins/plugins.gradle.kts
  settings.gradle
Labels: build

#524 Add sendable chooser widget with segmented toggle buttons
  api/src/main/resources/edu/wpi/first/shuffleboard/api/base.css
  plugins/base/src/main/java/edu/wpi/first/shuffleboard/plugin/base/BasePlugin.java
  plugins/base/src/main/java/edu/wpi/first/shuffleboard/plugin/base/widget/SplitButtonChooserWidget.java
  plugins/base/src/main/resources/edu/wpi/first/shuffleboard/plugin/base/widget/SplitButtonChooserWidget.fxml
Labels: plugin: base, widget

#530 Fix editing component properties if no title is set
  app/src/main/java/edu/wpi/first/shuffleboard/app/WidgetPaneController.java
  app/src/main/java/edu/wpi/first/shuffleboard/app/WidgetPaneDragHandler.java
Labels: bugfix, ui

#521 WIP: Add programmatic tab switching
  api/src/main/java/edu/wpi/first/shuffleboard/api/tab/model/TabStructure.java
  app/src/main/java/edu/wpi/first/shuffleboard/app/components/DashboardTabPane.java
  plugins/networktables/src/main/java/edu/wpi/first/shuffleboard/plugin/networktables/NetworkTablesPlugin.java
  plugins/networktables/src/main/java/edu/wpi/first/shuffleboard/plugin/networktables/TabGenerator.java
Labels: enhancement, plugin: networktables, ui
