Repository wpilibsuite/shuffleboard, pull requests merged in 2018-03, with the labels that each got.

#420 Fix single-entry NetworkTable sources updating for unrelated entries
  plugins/networktables/src/main/java/edu/wpi/first/shuffleboard/plugin/networktables/sources/CompositeNetworkTableSource.java
  plugins/networktables/src/main/java/edu/wpi/first/shuffleboard/plugin/networktables/sources/NetworkTableSource.java
  plugins/networktables/src/main/java/edu/wpi/first/shuffleboard/plugin/networktables/sources/SingleKeyNetworkTableSource.java
Labels: bugfix, plugin: networktables

#437 Log app startup time and plugin loading times
  app/src/main/java/edu/wpi/first/shuffleboard/app/Shuffleboard.java
  app/src/main/java/edu/wpi/first/shuffleboard/app/plugin/PluginLoader.java
Labels: enhancement

#436 Embed the startup time in log file names
  app/src/main/java/edu/wpi/first/shuffleboard/app/Shuffleboard.java
Labels: enhancement

#432 Make recording more efficient
  api/src/main/java/edu/wpi/first/shuffleboard/api/sources/recording/Recorder.java
  api/src/main/java/edu/wpi/first/shuffleboard/api/sources/recording/Serialization.java
  api/src/test/java/edu/wpi/first/shuffleboard/api/sources/recording/SerializationTest.java
  api/src/test/java/edu/wpi/first/shuffleboard/api/sources/recording/serialization/AbstractAdapterTest.java
Labels: bugfix, record/playback

#430 Improve CPU and memory usage of graphs
  app/app.gradle.kts
  plugins/base/src/main/java/edu/wpi/first/shuffleboard/plugin/base/BasePlugin.java
  plugins/base/src/main/java/edu/wpi/first/shuffleboard/plugin/base/widget/GraphWidget.java
  plugins/base/src/main/java/edu/wpi/first/shuffleboard/plugin/base/widget/PrimitiveDoubleArrayList.java
  plugins/base/src/test/java/edu/wpi/first/shuffleboard/plugin/base/widget/PrimitiveDoubleArrayListTest.java
Labels: enhancement, widget, work in progress

#425 Add controls and telemetry to camera stream widgets
  api/src/main/java/edu/wpi/first/shuffleboard/api/components/AbstractNumberField.java
  api/src/main/java/edu/wpi/first/shuffleboard/api/properties/SaveProperties.java
  api/src/main/java/edu/wpi/first/shuffleboard/api/properties/SavePropertyFrom.java
  api/src/main/java/edu/wpi/first/shuffleboard/api/properties/SaveThisProperty.java
  api/src/main/java/edu/wpi/first/shuffleboard/api/sources/AbstractDataSource.java
  api/src/main/java/edu/wpi/first/shuffleboard/api/sources/DataSource.java
  api/src/main/java/edu/wpi/first/shuffleboard/api/util/ReflectionUtils.java
  api/src/main/java/edu/wpi/first/shuffleboard/api/widget/AbstractWidget.java
  api/src/main/java/edu/wpi/first/shuffleboard/api/widget/SingleSourceWidget.java
  app/src/main/java/edu/wpi/first/shuffleboard/app/MainWindowController.java
  app/src/main/java/edu/wpi/first/shuffleboard/app/Shuffleboard.java
  app/src/main/java/edu/wpi/first/shuffleboard/app/json/WidgetSaver.java
  app/src/main/java/edu/wpi/first/shuffleboard/app/sources/DestroyedSource.java
  app/src/test/java/edu/wpi/first/shuffleboard/app/json/WidgetSaverTest.java
  plugins/cameraserver/src/main/java/edu/wpi/first/shuffleboard/plugin/cameraserver/CameraServerPlugin.java
  plugins/cameraserver/src/main/java/edu/wpi/first/shuffleboard/plugin/cameraserver/data/CameraServerData.java
  plugins/cameraserver/src/main/java/edu/wpi/first/shuffleboard/plugin/cameraserver/data/Resolution.java
  plugins/cameraserver/src/main/java/edu/wpi/first/shuffleboard/plugin/cameraserver/data/type/CameraServerDataType.java
  plugins/cameraserver/src/main/java/edu/wpi/first/shuffleboard/plugin/cameraserver/recording/serialization/CameraServerDataSerializer.java
  plugins/cameraserver/src/main/java/edu/wpi/first/shuffleboard/plugin/cameraserver/source/CameraServerSource.java
  plugins/cameraserver/src/main/java/edu/wpi/first/shuffleboard/plugin/cameraserver/source/CameraServerSourceType.java
  plugins/cameraserver/src/main/java/edu/wpi/first/shuffleboard/plugin/cameraserver/source/CameraUrlGenerator.java
  plugins/cameraserver/src/main/java/edu/wpi/first/shuffleboard/plugin/cameraserver/widget/CameraServerWidget.java
  plugins/cameraserver/src/main/resources/black_square.jpg
  plugins/cameraserver/src/main/resources/edu/wpi/first/shuffleboard/plugin/cameraserver/widget/CameraServerWidget.fxml
  plugins/cameraserver/src/main/resources/edu/wpi/first/shuffleboard/plugin/cameraserver/widget/cameraserverwidget.css
  plugins/cameraserver/src/test/java/edu/wpi/first/shuffleboard/plugin/cameraserver/source/CameraUrlGeneratorTest.java
Labels: api, plugin: cameraserver, widget

#438 Release opencv Mat after use to avoid memory leak
  plugins/cameraserver/src/main/java/edu/wpi/first/shuffleboard/plugin/cameraserver/recording/serialization/ImageConverter.java
Labels: bugfix, performance, plugin: cameraserver

#439 Fix a NPE when attempting to add a component with nowhere to place it
  app/src/main/java/edu/wpi/first/shuffleboard/app/components/WidgetPane.java
Labels: bugfix

#445 Add a preloader to notify users of the status of startup routines
  app/src/main/java/edu/wpi/first/shuffleboard/app/MainWindowController.java
  app/src/main/java/edu/wpi/first/shuffleboard/app/PreloaderController.java
  app/src/main/java/edu/wpi/first/shuffleboard/app/Shuffleboard.java
  app/src/main/java/edu/wpi/first/shuffleboard/app/ShuffleboardPreloader.java
  app/src/main/resources/edu/wpi/first/shuffleboard/app/Preloader.fxml
Labels: enhancement, ui

#448 Fix delimiting in composite networktable sources
  plugins/networktables/src/main/java/edu/wpi/first/shuffleboard/plugin/networktables/NetworkTablesPlugin.java
  plugins/networktables/src/main/java/edu/wpi/first/shuffleboard/plugin/networktables/sources/CompositeNetworkTableSource.java
  plugins/networktables/src/test/java/edu/wpi/first/shuffleboard/plugin/networktables/sources/CompositeNetworkTableSourceTest.java
Labels: bugfix, plugin: networktables

#449 Fix null pointers in sendable chooser related classes
  plugins/base/src/main/java/edu/wpi/first/shuffleboard/plugin/base/data/SendableChooserData.java
  plugins/base/src/main/java/edu/wpi/first/shuffleboard/plugin/base/widget/ComboBoxChooserWidget.java
Labels: bugfix, widget

#451 Fix updates not working with spaces in the running path
  app/src/main/java/edu/wpi/first/shuffleboard/app/Shuffleboard.java
  app/src/main/java/edu/wpi/first/shuffleboard/app/ShuffleboardUpdateChecker.java
Labels: bugfix, updater

#452 Load main FXML in init()
  app/src/main/java/edu/wpi/first/shuffleboard/app/MainWindowController.java
  app/src/main/java/edu/wpi/first/shuffleboard/app/Shuffleboard.java
  integ_test/src/test/java/edu/wpi/first/shuffleboard/app/ShuffleboardLaunchTest.java
Labels: enhancement, ui

#454 Fix source tree ordering
  app/src/main/java/edu/wpi/first/shuffleboard/app/plugin/PluginLoader.java
Labels: bugfix
