Repository wpilibsuite/shuffleboard, pull requests merged in 2019-10, with the labels that each got.

#606 Allow widget titles to be hidden
  api/src/main/java/edu/wpi/first/shuffleboard/api/PropertyParsers.java
  api/src/main/java/edu/wpi/first/shuffleboard/api/TileTitleDisplayMode.java
  api/src/main/java/edu/wpi/first/shuffleboard/api/widget/Component.java
  api/src/main/java/edu/wpi/first/shuffleboard/api/widget/SettingsHolder.java
  api/src/main/resources/edu/wpi/first/shuffleboard/api/base.css
  app/src/main/java/edu/wpi/first/shuffleboard/app/MainWindowController.java
  app/src/main/java/edu/wpi/first/shuffleboard/app/components/DashboardTab.java
  app/src/main/java/edu/wpi/first/shuffleboard/app/components/ProcedurallyDefinedTab.java
  app/src/main/java/edu/wpi/first/shuffleboard/app/dialogs/PrefsDialog.java
Labels: enhancement, ui

#610 Do not cache plugins manually loaded from the default plugins directory
  app/src/main/java/edu/wpi/first/shuffleboard/app/PluginPaneController.java
Labels: bugfix, plugin API

#609 Demo of a raw cscore stream
  azure-pipelines.yml
  plugins/cameraserver/cameraserver.gradle.kts
  plugins/cameraserver/src/main/java/edu/wpi/first/shuffleboard/plugin/cameraserver/CameraServerPlugin.java
  plugins/cameraserver/src/main/java/edu/wpi/first/shuffleboard/plugin/cameraserver/JavaCvSink.java
  plugins/cameraserver/src/main/java/edu/wpi/first/shuffleboard/plugin/cameraserver/source/CameraServerSource.java
  plugins/cameraserver/src/test/java/edu/wpi/first/shuffleboard/plugin/cameraserver/source/CameraStreamAdapterTest.java
Labels: plugin: cameraserver, work in progress

#633 Fix in-app build times reported as the current date
  app/src/main/java/edu/wpi/first/shuffleboard/app/ApplicationManifest.java
Labels: bugfix
